<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="UTF-8">
      <title>Listar</title>
      <link th:href="@{/css/listarDados.css}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  </head>
  <body>
      <h1>Dados de Tags</h1>

      <div th:if="${!listaTags.isEmpty()}" class="container">
          <table>
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Tag</th>
                  <th>Acções</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="inst: ${listaTags}">
                  <td th:text="${inst.id}" style="text-align: center"></td>
                  <td th:text="${inst.nome}"></td>
                  <td style="text-align: center">
                      <button class="custom-btn btn-31"><a th:href="@{/tags/view/{id}(id=${inst.id})}"><span>Ver</span></a></button>
                      <button class="custom-btn btn-32"><a th:href="@{/tags/edit/{id}(id=${inst.id})}"><span>Editar</span></a></button>
                      <button class="custom-btn btn-33"><a th:href="@{/tags/delete/{id}(id=${inst.id})}"><span>Apagar</span></a></button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      <div th:unless="${!listaTags.isEmpty()}">
          <h2>Não existem dados a apresentar</h2>
      </div>
      <div class="voltar">
          <button class="custom-btn btn-34"><a href="/"><span>Voltar</span></a></button>
      </div>
  </body>
</html>