<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>LSD: Disciplina</title>
        <link th:href="@{/CSS/Header&Footer.css}" rel="stylesheet">
        <link th:href="@{/CSS/Ver.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    </head>
    <body>
        <div th:replace="~{fragments/Header::header}"></div>

        <div class="conteudo">
            <div th:class="formulario">
            <h1>Ver Disciplinas</h1>
            <table align="center">
                <tr>
                    <td style="font-weight:bold">ID:</td>
                    <td th:text="${inst.id}"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Nome:</td>
                    <td th:text="${inst.nome}"></td>
                </tr>
            </table>
                <div align="center"><br><br>
                    <button><a th:href="@{/disciplina/edit/{id}(id=${inst.id})}"><span>Editar</span></a></button>
                    <button><a th:href="@{/disciplina/delete/{id}(id=${inst.id})}"><span>Apagar</span></a></button>
                    <button><a th:href="@{/disciplina/list}"><span>Voltar</span></a></button>
                </div>
            </div>
            <div th:class="espaco"></div>
            <div th:replace="~{fragments/Footer::footer}"></div>
        </div>
    </body>
</html>