<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>LSD: Aluno</title>
        <link th:href="@{/CSS/Header&Footer.css}" rel="stylesheet">
        <link th:href="@{/CSS/Formulario.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    </head>
    <body>
        <div th:replace="~{fragments/Header::header}"></div>

        <div th:class="conteudo">
            <div th:class="formulario">
                <h1>Inserir Aluno</h1>
                <h2>* Campos Obrigatórios</h2><br><br>
                <form th:action="@{/alunos/save}" th:object="${aluno}" method="post">
                    <table>
                        <tr>
                            <td>
                                <label for="nome"><h3>Nome(s) *</h3></label>
                                <input type="text" id="nome" th:field="*{nome}" placeholder="Insira o(s) nome(s)"><br>
                                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="erro"></span><br>
                            </td>
                            <td>
                                <label for="apelido"><h3>Apelido(s) *</h3></label>
                                <input type="text" id="apelido" th:field="*{apelido}" placeholder="Insira o(s) apelido(s)"><br>
                                <span th:if="${#fields.hasErrors('apelido')}" th:errors="*{apelido}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="dataNascimento"><h3>Data de Nascimento *</h3></label>
                                <input type="date" id="dataNascimento" max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" th:field="*{dataNascimento}"><br>
                                <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="erro"></span><br>
                            </td>
                            <td>
                                <label for="cc"><h3>Nº CC *</h3></label>
                                <input type="number" min="1" step="1" id="cc" th:field="*{cc}"><br>
                                <span th:if="${#fields.hasErrors('cc')}" th:errors="*{cc}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="especie"><h3>Espécie *</h3></label>
                                <select name="especie" id="especie">
                                    <option th:each="inst: ${listaEspecies}" th:value="${inst}" th:text="${inst}"></option>
                                </select><br>
                                <span th:if="${#fields.hasErrors('especie')}" th:errors="*{especie}" class="erro"></span><br>
                            </td>
                            <td>
                                <label for="sexo"><h3>Sexo *</h3></label>
                                <select name="sexo" id="sexo">
                                    <option th:each="inst: ${listaSexos}" th:value="${inst}" th:text="${inst}"></option>
                                </select><br>
                                <span th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="telefone"><h3>Telefone *</h3></label>
                                <input type="number" min="1" step="1" id="telefone" th:field="*{telefone}"><br>
                                <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="erro"></span><br>
                            </td>
                            <td>
                                <label for="email"><h3>Email *</h3></label>
                                <input type="text" id="email" th:field="*{email}" placeholder="Insira o email no formato aaa@bbb.cc"><br>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="morada"><h3>Morada *</h3></label><br>
                                <input type="text" id="morada" th:field="*{morada}" placeholder="Insira a morada" style="width: 513px"><br><br>
                                <input type="text" min="1" id="codPostal" th:field="*{codPostal}" placeholder="Código Postal">
                                <input type="text" id="localidade" th:field="*{localidade}" placeholder="Localidade"><br>
                                <span th:if="${#fields.hasErrors('morada')}" th:errors="*{morada}" class="erro"></span><br>
                                <span th:if="${#fields.hasErrors('codPostal')}" th:errors="*{codPostal}" class="erro"></span><br>
                                <span th:if="${#fields.hasErrors('localidade')}" th:errors="*{localidade}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="casa"><h3>Casa *</h3></label><br>
                                <select name="casa" id="casa">
                                    <option th:each="inst: ${listaCasas}" th:value="${inst}" th:text="${inst}"></option>
                                </select><br>
                                <span th:if="${#fields.hasErrors('casa')}" th:errors="*{casa}" class="erro"></span><br>
                            </td>
                            <td>
                                <label for="turma"><h3>Turma *</h3></label><br>
                                <select name="turma" id="turma">
                                    <option th:each="inst: ${listaTurmas}" th:value="${inst.id}" th:text="${inst.nome}"></option>
                                </select><br>
                                <span th:if="${#fields.hasErrors('turma')}" th:errors="*{turma}" class="erro"></span><br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="ativo"><h3>Ativo</h3></label>
                                <input type="checkbox" id="ativo" th:field="*{ativo}"><br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="detalhes"><h3>Detalhes</h3></label><br>
                                <textarea type="text" cols="80" rows="10" id="detalhes" th:field="*{detalhes}" placeholder="Insira os detalhes"></textarea><br>
                            </td>
                        </tr>
                    </table>
                    <div align="center"><br><br>
                        <input type="submit" value="Enviar" th:class="botao"><br><br>
                    </div>
                </form>
            </div>
            <div th:class="espaco"></div>
        </div>

        <div th:replace="~{fragments/Footer::footer}"></div>
    </body>
</html>